KickAsh/KickAsh.xcodeproj/project.xcworkspace/xcuserdata/builder.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
KickAsh/KickAsh.xcodeproj/xcuserdata/builder.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
KickAsh/KickAsh.xcodeproj/xcuserdata/builder.xcuserdatad/xcschemes/xcschememanagement.plist
